### FUNCTIONS:
* function is a block of code which only runs when it is called.
* You can pass data, known as parameters, into a function.
* A function can return data as a result.

### 1) a resturant with 5 veg and 5 non veg

In [27]:
print("Renvo restaurant")
non_veg = ["Egg Bhurji", "Butter Chicken", "Murgh Dum Biryani", "Spicy Chettinad Chicken", "Prawn Thokku"]
veg_ = ["potato", "carrot", "pea", "green beans", "cauliflower"]
print("non veg list:",non_veg)
print("veg list: ", veg_)
customer = input("enter the name of dish: ")

def restaurant(veg_, non_veg):
    if customer in veg_:
        print(f"please wait sir your food {customer} is going to be placed with in few mins")
    elif customer in non_veg:
        print(f"please wait sir your dish {customer} is going to be placed with in few mins")
    else:
        print(f"sorry! ,this iteam {customer} is not avaliable in our restaurant")
 

restaurant(veg_, non_veg)

Renvo restaurant
non veg list: ['Egg Bhurji', 'Butter Chicken', 'Murgh Dum Biryani', 'Spicy Chettinad Chicken', 'Prawn Thokku']
veg list:  ['potato', 'carrot', 'pea', 'green beans', 'cauliflower']

enter the name of dish:  carrot

please wait sir your food carrot is going to be placed with in few mins

###  2) Code for prime or not by using function

In [62]:
n = int(input("enter a number: "))
def prime_(n):
    for i in range(2,n):
        if n%i!=0:
            print("prime")
            break
        else:
            print("not prime")
            break

prime_(n)

enter a number:  4

not prime

### 3) code to 1 to 5 rows

In [102]:
n = int(input(" enter the value: "))
for i in range(1,n+1):
    print()
    for j in range(i):
        print(i,end=" ")

 enter the value:  5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 4) To convert Celsius to Fahrenheit

In [126]:
C = float(input("Enter the value: "))
F=((C*(9/5))+32)
print(f"{C} Celsius into {F} Fahrenheit")

Enter the value:  39

39.0 Celsius into 102.2 Fahrenheit

### 5) simple interest

In [135]:
P = int(input("Enter the Principal amount: "))
T = int(input("Enter the Time period: "))   #IN YEARS
R = float(input("Enter the Rate of interest: "))
SI = (P*T*R)/100
print(F"simple ineterest is {SI}")

Enter the Principal amount:  20000
Enter the Time period:  5
Enter the Rate of interest:  1.75

simple ineterest is 1750.0

### 6) INT INTO DECEMICAL USING FUNCTIONS

In [146]:
N = int(input("enter the number: "))
def convert(N):
    z = float(N)
    print(z)

convert(N)

enter the number:  9

9.0

### 7) CHAR IS DIGIT OR NOT

In [7]:
j = input("enter the character: ")
if j.isdigit():
    print("it is digit")
else:
    print("it is not")

enter the character:  @

it is not

### 8)NON REPEATING FIRST OCCURANCE VALUE

In [14]:
k = input("Enter a value: ")
for i in k:
    if k.count(i)==1:
        print(f"NON-REPEATING FIRST OCCURANCE VALUE is {i}")
        break
else:
    print(f"NO NON-REPEATING FIRST OCCURANCE VALUE")

Enter a value:  google

NON-REPEATING FIRST OCCURANCE VALUE is l

### 9) REPLACE SPACE WITH CHAR

In [25]:
A  = input("enter the char: ")
B = input("enter the replacing char: ")
x = A.replace(" ",B)
print(x)

enter the char:  one piece
enter the replacing char:  _

one_piece

### 10) Greatest common divisor

In [31]:
g = input("enter the value: ")
d = input("enter the value: ")
def greatest(g,d):
    while d != 0:

SyntaxError: incomplete input (3012115376.py, line 5)

### 11)swap the number

In [38]:
g = input("enter the value: ")
d = input("enter the value: ")
class
g,d = d,g
print("value is ", g)
print("value is ", d)

enter the value:  4
enter the value:  5

value is  5
value is  4

### 12) REMOVE DUPLICATE VALUES

In [41]:
V = [1,2,34,2,1,2,3,1,2,1212,1,2]
RDV = list(set(V))
print(RDV)

[1, 2, 3, 34, 1212]

### 13) ADD TWO VALUES WITH AP

In [19]:
l = int(input("enter the value: "))
k = int(input("enter the value: "))
n = sum([l,k])
print(f"{n} is sum of 2 numbers")

enter the value:  7
enter the value:  9

16 is sum of 2 numbers

In [41]:
num1 = int(input("enter a value: "))
num2 = int(input("enter a value: "))
class swap:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        num1,num2 = num2, num1
        swap = f" after swap {num1} and {num2}"
        print(swap)

x = swap(num1,num2)

enter a value:  1
enter a value:  2

 after swap 2 and 1