# IF STATEMENT:
An if statement executes a block of code only when the specified condition is met.

In [218]:
"""
syntax:
if condition:
    # body of if statement
"""

'\nsyntax:\nif condition:\n    # body of if statement\n'

# ELSE STATEMENT:
An if statement can have an optional else clause. The else statement executes if the condition in the if statement evaluates to False.atement

In [223]:
'''
Syntax:
if condition:
    # body of if statement
else:
    # body of else statement
'''

'\nSyntax:\nif condition:\n    # body of if statement\nelse:\n    # body of else statement\n'

## ELIF STATEMENT:
* if we need to make a choice between more than two alternatives, we use the if...elif...else statement.
* Here, if the condition inside the if statement evaluates to
* 
True - the body of if executes, and the body of else is skipp.
False - the body of else executes, and the body of if is skipped

In [271]:
#syntax:
#if condition1:
#code block 1
#elif condition2:
#code block 2
#else:
#code block 3

* NUMBER IS EVEN OR ODD

In [237]:
n = int(input("enter a number"))
if n%2 != 0:
    print("odd")
else:
    print("even")

enter a number 3

odd

* LEAP YEAR OR NOT

In [246]:
_luffy = int(input("enter a year"))
if _luffy%4==0:
    print("leap year")
else:
    print("not a leap year")

enter a year 2023

not a leap year

* LIST EMPTY OR NOT

In [250]:
n = []
if not n:
    print("empty")
else:
    print("not empty")

empty

* GRADE OF A STUDENT

In [258]:
m = int(input("please enter the value"))
if m>90:
    print("a")
elif m>=80:
    print("b")
elif m>=70:
    print("c")
elif m>=60:
    print("d")
elif m>=50:
    print("e")
else:
    print("fail")

please enter the value 55

e

In [19]:
#BODY MASS INDEX
height_ = int(input("enter height: ")) #in kg
weight_ = int(input("enter weight: ")) #in cm
bmi_ = ((weight_)/((height_/100)**2))
if bmi_ < 18.5:
    print("under wight")
elif 18.5 <= bmi_ < 24.9:
    print("normal weight")
elif 25 <= bmi_ < 29.9:
    print("overweight")
else:
    print("obesity")

enter height:  156
enter weight:  70

overweight

* CHECK WHEATHER GIVEN WORD IS A PALINDROME OR NOT

In [49]:
value_ = input("enter a value: ").lower()
rev = value_[::-1]
if value_ == rev:
    print("palindrome")
else:
    print("not a palindrome")

enter a value:  1441

palindrome

* WRITE A PYTHON PROGRAM TO FIND THE SMALLEST AMONG 3 NUMBERS.

In [69]:
a = int(input("enter a number: "))
b = int(input("enter a number: "))
c = int(input("enter a number: "))
if a<b and a<c:
        print("a is smallest")
elif b<a and b<c:
        print("b is smallest")
elif c<a and c<b:
    print("c is smallest")
else:
    print("none")

enter a number:  2
enter a number:  5
enter a number:  9

a is smallest

* SECOND FIND LARGEST NUMBER IN LIST

In [150]:
value = input("Enter values: ").lower()
n_ = list(value) #Converts string into list 
print(n_)
n_.sort()
print(n_)
print("largest number: ", n_[-2])

Enter values:  39873737

['3', '9', '8', '7', '3', '7', '3', '7']
['3', '3', '3', '7', '7', '7', '8', '9']
largest number:  8

In [160]:
value = input("Enter values: ").upper()
m = list(value)
print(m)
m.sort(reverse=1)
print(m)
if len(m)>2:
    print("2nd largest", m[1])
else:
    print("none")

Enter values:  kmmdjnnd288e838

['K', 'M', 'M', 'D', 'J', 'N', 'N', 'D', '2', '8', '8', 'E', '8', '3', '8']
['N', 'N', 'M', 'M', 'K', 'J', 'E', 'D', 'D', '8', '8', '8', '8', '3', '2']
2nd largest N

* VOTE ELIGIBILITY

In [166]:
age = int(input("enter a value: "))
if age<18:
    print("not eligible")
else:
    print("eligible")

enter a value:  28

eligible

* TYPE OF GROUP

In [189]:
age1 = int(input("enter a value: "))
if age1<22:
    print("student")
elif 22<=age1<=50:
    print("empolyee")
elif age1>50:
    print("retire")
else:
    print("error")

enter a value:  51

retire